@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&family=Rowdies:wght@300;400;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #000000;
    }

.container-body {
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
}

body{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    height: 1px;
    background-image: url("img/header.png");
    align-items: center;
    display: flex;
    padding: 100px 40px;
    flex-direction: column;
    justify-content: center;
}

header .logo img{
    height: 200px;
    background-image: url ("img/destiny.png");
    align-items: center top;
    display: flex;
}

nav ul {
    font-family: "Rowdies", sans-serif;
    list-style: none;
    display: flex;
    gap: 30px;
    word-spacing: 50px;
}

nav ul li a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 30px;
}

nav ul li a:hover{
    color:rgb(255, 255, 255);
    text-decoration: underline;
}
.eti{
    padding: 100px 40px;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: #000000;
}

#inicio{
    background-color: #000000;
    color: rgb(255, 255, 255);
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.inicio-contenido h1{
    font-size: 3rem;
}

.inicio-contenido p{
   font-size: 1.5rem; 
}

section{
    background-color: #000000;
    color: white;
    padding: 50px 20px;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 768px;
}
#productos h2{
    font-family: "Rowdies", sans-serif;
    font-size: 2.5rem;
    align-items: center top;
    justify-content: center top;
    display: flex;
    min-height: 20px;
    position: absolute;
    top: 160%;
 }
section img {
    width: 0px;
    flex-grow: 1;
    object-fit: cover;
    opacity: 0.8;
    transition: 0.5s ease;
} 
#productos p{
    align-items: center;
    max-width: 800px;
    margin: 10px;
    font-size: 1.2rem;
    
}
section img:hover{
    cursor: crosshair;
    width: 700px;
    opacity: 1;
    filter: contrast(120%);
}

.contacto{
    padding: 50px 20px;
    color:white;
    background-color: #000000;
    text-align: center;
}

.contacto h2{
    font-family: "Rowdies", sans-serif;
    font-size: 2.5rem;
}
.contacto p{
    font-family: "Delius", cursive;
    font-size: 20px;
}
.politica{
    background-color: #000000;
    color:white;
    padding: 50px 20px;
    text-align: center;
}

.politica-item{
    margin-bottom: 20px;

}

.politica h2{
    font-family: "Rowdies", sans-serif;
    font-size: 2.5rem;
   
}

.politica-item h3{
    font-family: "Delius", cursive;
    font-size: 1.8rem;
}

.politica h4{
    font-family: "Delius", cursive;
    font-size: 1.8rem;
    text-align: center;
    
}

.politica-item p{
    font-family: "Delius", cursive;
    font-size: 20px;
}
.futi{
    background-color: #000000;
    color: white;
    border: 20px solid #000000;
}
.footer{
    background-color: #000000;
    text-align: center;
    padding: 20px;
}